.btn {
    color: var(--grey-5);
    background-color: var(--brand-1);
    padding: var(--btn-padding);
    border: var(--btn-border);
    font-size: var(--btn-size);
    font-weight: var(--weight-primary);
    cursor: pointer;
    transition: background 1s;
}

.btn:hover {
    background-color: var(--brand-2);
}