.footer__container {
    width: 100%;
    height: 119px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-0);
    color: #EDF2FF;
    font-size: var(--text3-size);
}