.header__container {
    width: 100%;
    height: 100px;
    background-color: var(--grey-0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 771px;
    position: fixed;
}

.header__container>p {
    color: var(--grey-5);
    font-size: var(--text1-size);
}

.header__container>button {
    width: 241px;
    height: 60px;
    border: var(--padding-button-border);
    background-color: transparent;
    color: var(--grey-5);
    cursor: pointer;
    font-weight: var(--bold);
    font-size: var(--text-btn);
    line-height: var(--text-btn-height);
}