.main__block--secondary {
    display: flex;
    gap: var(--main-block-secondary-gap);
    align-items: center;
    justify-content: center;
    width: var(--main-block-secondary-width);
    padding: var(--main-block-secondary-padding);
    background-color: var(--grey-0);
    color: var(--grey-5);
}

.block--secondary__title {
    font-weight: var(--weight-primary);
    font-size: var(--size-h3);
}

.block--secondary__span {
    width: var(--block--secondary__span-width);
    line-height: var(--weight-secondary);
    size: var(--size-text-1);
    line-height: var(--block--secondary__span-line-height);
}