.main__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--main-block-padding);
    gap: var(--main-block-gap);
    background-color: var(--grey-1);
}

.block__h1 {
    font-weight: var(--weight-primary);
    font-size: var(--size-h1);
    line-height: var(--line-height-h1);
    color: var(--color-title);
}

.block__h1--text {
    color: var(--brand-1);
}

.block__text {
    width: var(--main-block-text-width);
    font-size: var(--size-text-2);
    line-height: var(--main-block-text-line-height);
    color: var(--grey-3);
}

.block__span {
    width: var(--block-span-width);
    height: var(--block-span-height);
    text-align: center;
    line-height: var(--block-span-line-heigth);
    font-size: var(--block-span-size);
}