.main__section--secondary {
    padding: var(--main__section--secondary-padding);
    display: flex;
    align-items: flex-start;
    gap: var(--main__section--secondary-gap);
}

.section--secondary__block__list {
    display: flex;
    flex-direction: column;
    gap: var(--section--secondary__block-gap);
}

.item__block {
    display: flex;
    justify-content: space-between;
    gap: 73px;
}

.item__block__span{
    display: flex;
    flex-direction: column;
    gap: var(--item__block__span-gap);
}

.item__block__span__h3 {
    width: max-content;
    font-size: var(--size-h2);
    color: var(--grey-5);
    font-weight: var(--weight-primary);
}

.item__block__span__text {
    font-size: var(--size-text-3);
    font-weight: var(--weight-secondary);
    color: var(--grey-3);
}

.item__block__text {
    font-size: var(--size-text-3);
    color: var(--grey-5);
    width: 470px;
}

.section--secondary__block--secondary {
    padding: 80px 52px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    background-color: #4C6EF5;
}

.section--secondary__block--secondary__h2 {
    width: 342px;
    font-size: var(--size-h3);
    font-weight: var(--weight-primary);
    color: var(--grey-5);
}

.section--secondary__block--secondary__text {
    width: 307px;
    font-weight: var(--weight-secondary);
    font-size: var(--size-text-3);
    color: var(--color-title);
}