.modal {
    width: 584px;
    height: fit-content;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-80%,-50%);
    box-sizing: border-box;
    border: 2px solid var(--brand-1);
    padding: 0;
}

.modal::backdrop {
    background-color: rgba(0,0,0, 0.8);
  }

#modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    background-color: var(--grey-1);    
    padding: 40px 0;
    
}

.title__container {
    width: 448px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title__container>h3 {
    font-weight: var(--bold);
    font-size: var(--text2-size);
    color: var(--grey-5);
}

.close {
    width: 38px;
    height: 32px;
    background-color: var(--grey-2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 12px;
    border-radius: 4px;
    color: #868E96;
    font-size: var(--text2-size);
    font-weight: var(--bold);
    cursor: pointer;
}

#modal > p {
    width: 448px;
    font-size: 16px;
    font-weight: var(--regular);
    color: var(--grey-4);
}

#modal > input {
    width: 448px;
    height: 60px;
    padding: 14px 20px;
    box-sizing: border-box;
    background-color: var(--grey-0);
    border: 1px solid #191C1F;
    color: var(--grey-3);
    font-size: var(--text2-size);
    font-weight: var(--bold);
}

#modal > input::placeholder {
    color: var(--grey-3);
    font-size: var(--text2-size);
    font-weight: var(--bold);
}

#modal > input:valid {
    background-color: #000;
}

.modal__btn {
    width: 448px;
    height: 60px;
    border: 1px solid var(--brand-1);
}