@import url(reset.css);
@import url(global-style.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url(modal.css);

body {
    background-color: var(--grey-1);
    min-height: 100vh;
    max-width: 100vw;
    font-family: var(--font);
}

.btn {
    color: var(--grey-5);
    background-color: var(--brand-1);
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    transition: background 1s ease-in;
}

.btn:hover {
    background-color: var(--brand-2);
}